API_KEY=<your_nvidia_api_key_here>
LLM_BASE_URL=https://integrate.api.nvidia.com/v1
LLM_MODEL=nvidia/nemotron-3-super-120b-a12b

RABBITMQ_USER=rmq_admin
RABBITMQ_PASSWORD=<your_rabbitmq_password_here>
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
AI_REVIEW_SUMMARIZER_QUEUE=ai.review.summary.request
